#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Make backup via rdiff-backup weekly
After=ntpd.service

[Service]
# We are sure that the next job  won't be started untill the service is forked and exits unless systemctl will report failure.
Type=oneshot

# run on behalf of the User, run ONLY ExecStart= command (see man systemd.service)
PermissionsStartOnly=true
User=likhobabin_im

# poll ntp-server forcely 
# ExecStartPre=/usr/bin/systemctl stop ntpd
# ExecStartPre=/usr/sbin/ntpd -gq
# ExecStartPre=/usr/bin/systemctl start ntpd
# ExecStart=/usr/local/src/rollUpIt.lnx/libs/lnx_centos07/utils/fbck.sh -s /home/likhobabin_im/Workspace/Sys/fbck/tests/tmp001/ -d "likhobabin_im@10.0.2.2:/Users/likhobabin_im/Workspace/backup/VirtualBox/Vms/fw001/likhobabin_im_home_bck/"
ExecStart=/usr/local/src/rollUpIt.lnx/libs/lnx_centos07/utils/fbck.sh -s /home/likhobabin_im/ -d "likhobabin_im@10.0.2.2:/Users/likhobabin_im/Workspace/backup/VirtualBox/Vms/fw001/likhobabin_im_home_bck/"

[Install]
WantedBy=multi-user.target
