$TTL  {{ zone.ttl }}

$ORIGIN {{ zone.name }}

@     IN    SOA     {{ zone.ns001_name }}.{{ zone.domain }}.   hostmaster.{{ zone.domain }}. (
                    {{ zone.serial }} ; serial number
                    {{ zone.refresh }} ; refresh
                    {{ zone.retry }} ; retry
                    {{ zone.min_cache_ttl }}; minimum cache TTL
                    )
      IN    NS      {{ zone.ns001_name }}.{{ zone.domain }}.
{{ zone.ns001_last_ip_oct }}   IN    PTR     {{ zone.ns001_name }}.{{ zone.domain }}.
