#
# Do any local configuration here
#
#
# Consider adding the 1918 zones here, if they are not used in your
# organization
include "/etc/bind/zones.rfc1918";

zone "{{ ns.forward_zone.name }}" {
  type {{ ns.type }};
  file "{{ ns.forward_zone.path }}";
  allow-update { key "rndc-key"; };
}

zone "{{ ns.reverse_zone.name }}" {
  type {{ ns.type }};
  file "{{ ns.reverse_zone.path }}";
  allow-update { key "rndc-key"; };
}
